body {
    color: #777777;
    background-image: url(../images/gravel.png);
}

.wrapper {
    width: 960px;
    padding: 20px;
    margin: 0 auto;
  }

h1 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    background-color: #4aaaa5;
    width: 200px;
    height: 60px;
    padding-top: 20px;
    text-align: center;

}

section {
    width: 960px;
    height: 540px;
    padding-top: 10px;
    clear: left;
    background-color: white;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

footer {
    background: #666666;
    text-align: center;
    width: 960px;
    height: 20px;
    color: white;
    padding-top: 40px;
}

#header {
    background-color: #ffffff;
    width: 960px;
    height: 100px;
    color: white;
    text-align: center;
    float: left;
    margin-top: -50px;
    margin-bottom: 0px;
}

.button {
    float: left;
}

#first {
    width: 960px;
    float: left;
    margin: 0px 0px 20px 0px;
    clear: both;
}

#second {
    width: 900px;
}

#third {
    width: 960px;
    float: left;
}

h2 {
    margin-left: 30px;
    color: #4aaaa5;
}

#myPhoto {
    float: left;
    display: block;
    width: 300px;
    height: 300px;
    margin: 0px 30px 10px 30px;
}

#topp {
}

#middlep {
    margin-left: 30px;
}

#bottomp {
    margin-left: 30px;
}